html {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.CodeMirror-code, .editor-preview {
    font-family: "Source Code Pro", monospace;
}

.editor-statusbar {
    display: none;
}

.md-editor .editor-toolbar {
    height: 30px;
}

.fa-clock-rotate-left {
    font-size: .95rem;
    color: rgb(90, 90, 90);
    padding-top: 4.65px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.reset:hover {
    .fa-clock-rotate-left {
        color: rgb(4, 186, 246);
    }
}